[user]
	name = admin
	email = recursivezero@outlook.com
	signingKey = ABCDEFGHIJKL

[commit]
	gpgsign = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[credential]
	helper = 
	helper = /usr/local/bin/git-credential-manager
	credentialStore = secretservice

[credential "https://dev.azure.com"]
	useHttpPath = true

[init]
	defaultBranch = main

[alias]
	http = config --get remote.origin.url
	hide = update-index --assume-unchanged
	unhide = update-index --no-assume-unchanged
	hidden = !git ls-files -v | grep "^h"
	company = !git config user.name recursivezero && git config user.email recursivezero@outlook.com
	khud = !git config user.name xkeshav && git config user.email xkeshav@gmail.com

[core]
	editor = vim
	ignorecase = false
	safecrlf = warn
  
[pull]
	rebase = true

# --- ROUTING LOGIC ---

[includeIf "gitdir:~/projects/xkeshav/"]
	path = ~/.gitconfig-personal

[includeIf "gitdir:~/projects/recursivezero/"]
	path = ~/.gitconfig-work
