{
    "arrowParens": "always",
    "bracketSpacing": true,
    "printWidth": 80,
    "proseWrap": "preserve",
    "semi": true,
    "singleQuote": true,
    "trailingCommas": {
        "array": true,
        "object": true,
        "function": false
    },
    "useTabs": false,
    "tabWidth": 4
}
